.why-choose-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.why-choose-us-container>div:nth-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.why-choose-us-container>div:nth-of-type(1)>div{
    margin: 10px;
}
.why-choose-us-container>div:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2px;
}
.why-choose-us-container>div:nth-of-type(2)>div{
    padding: 10px;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-top-color: blue;
    border-top-width: 1;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin: 4px;
}